* {
  font-family: monospace;
  z-index: 10;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
}

canvas {
  width: 240px !important;
  height: 240px !important;
  display: block;
  margin: 0 auto; /* para centrar horizontalmente */
  image-rendering: pixelated; /* para evitar suavizado si quieres */
}



